.container{
    text-align: center; 
    font-family: gluten_font;
}
@font-face {
    font-family: gluten_font;
    src: url("./fonts/Gluten/Gluten-VariableFont_wght.ttf") format("TrueType");
    font-size: 30px;
  }
.top{
    display: flex;
    gap: 10px;
    height: 10vh;  
    transition: width 2s, height 2s, transform 3s;
    }
    .top:hover {

        transform: scale(1.5)
      }
.image-head-1, .image-head-2,.image-middle,.image-middle1, .image-middle2 , .image-middle3{
    display:inline-block;  
    width: 36px; 
    height: 32px;
}

.image-head-1{
    background: url('./image/spriteimage.svg') -21px -21px;
}
.image-head-2{
    background: url('./image/spriteimage.svg') -68px -21px;
}
.image-middle {
    background: url('./image/spriteimage.svg') -115px -21px;
}
.image-middle1 {
    background: url('./image/spriteimage.svg')  -162px -21px;
}
.image-middle2 {
    background: url('./image/spriteimage.svg') -209px -22px;
}

.image-middle3 {
    background: url('./image/spriteimage.svg') -778px -20px;
}
.top1 , .top2{
    width:50%;
    padding-top: 10px;
    background-color: rgb(250, 154, 64);
}
.middle-1{
    background-color: rgb(172, 214, 87);
    height: 30vh;
    margin: 20px 0px;
    transition: width 2s, height 2s, transform 3s;
}
.middle-1:hover {
    transform: rotate(360deg);
  }
.middle-2{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.middle-2 .m1{
    background-color: rgb(53, 100, 230);
    width :35%;
    height: 15vh;
}
.bottom, .b1
{
    display: flex;
    gap: 10px;
    height: 20vh;
    justify-content: center;
}
.bottom div{
    background-color: rgb(148, 148, 148);
    width :25%;
}
@media  (max-width: 720px) {
    .top{
        flex-wrap: wrap; 
        height: 15vh;
    }
    .top1 , .top2{  
        width: 100%;
        
    }
    .middle-1{
        height: 20vh;
    }
    .middle-2{
        flex-wrap: wrap;
    }
    
    .middle-2 .m1{
        height: 6vh;
        width: 100%;
    }
   .bottom {
       display: flex;
       flex-wrap: wrap;
   }
   .bottom div{
       width: 49%;
   }  
}
@media (min-width:320px)and (max-width: 768px)
{
    .bottom{
        margin:0;
    } 
    .bottom div{
        width: 48%;
    }  
}
@media only screen and (max-width: 320px)
{
    .bottom{
        margin:0;
    } 
    .bottom div{
        width: 100%;
    }  
}


